////
/// Colors
/// @group colors
///
////

/// UI colors map for the main theme
///
/// @example
///   .element {
///     color: palette(ui, 'brand');
///   }
$palettes: (
  brand: (
    'primary':             rgba(000, 186, 242, 1),
    'secondary':           #0fa2d0
  ),
  ui: (
    'dark':            #191919,
    'light':           #FFF
  ),
  vendor: (
    'facebook':        #3B5998,
    'twitter':         #4099FF,
    'gplus':           #C63D2D,
    'pinterest':       #C92228,
    'reddit':          #CEE2FA,
    'instagram':       #04558C,
    'rss':             #FFAE00
  )
);

/// Function to parse color palettes
@function palette($palette, $tone: 'brand') {
  @return map-get(map-get($palettes, $palette), $tone);
}

/// Generating color and background Classes
/// from color map
$color-theme-list: (
 primary: brand,
 secondary: brand,
 iron: brand,
 dark: ui,
 light: ui
) !default;

@mixin color-theme($color, $section) {
  .color-#{$color} {
    color: palette($section, #{$color});
  }

  .background-#{$color} {
    background-color: palette($section, #{$color});
  }
}

@each $key, $value in $color-theme-list {
  @include color-theme($key, $value);
}
