// BASE CSS ELEMENT STYLES


// =Basics
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  padding: 0;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  width: 100%;

  &:before {
    content: 'small';
    display: none;

    //--- medium
    // @include breakpoint(medium) {
    //   content: 'medium';
    // }
    //
    // //--- large
    // @include breakpoint(large) {
    //   content: 'large';
    // }
  }

  &.disable-hover {
    pointer-events: none;
  }
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}
