/**
 * ICONS
 */

$e8-icon-size: $gutter;


[class*="e8-icon--"] {
  position: relative;

  &:before {
    background-size: $e8-icon-size $e8-icon-size;
    content: "";
    display: inline-block;
    left: -($e8-icon-size) - ($gutter/4);
    line-height: 0;
    margin-top: -($e8-icon-size/2);
    position: absolute;
    top: 50%;
    height: $e8-icon-size;
    width: $e8-icon-size;
    @include opacity(.3);
  }
}