/**
 * COLORS
 */



// Palette settings
$_color-base-grey:      #555;
$_color-base-accent:    #fec800;
$_color-base-accent-secondary:   #3498db;
$_color-base-yellow:    #f1c40f;

$palettes: (
    accent: (
        base:   $_color-base-accent,
        light:  lighten($_color-base-accent, 25%),
        dark:   darken($_color-base-accent, 10%),
    ),
    accent-secondary: (
        base:   $_color-base-accent-secondary,
        light:  lighten($_color-base-accent-secondary, 10%),
        dark:   darken($_color-base-accent-secondary, 15%),
    ),
    yellow: (
        base:   $_color-base-yellow,
        light:  lighten($_color-base-yellow, 15%),
        dark:   darken($_color-base-yellow, 15%),
    ),
    grey: (
        base:    $_color-base-grey,
        light1:  lighten($_color-base-grey, 10%),
        light2:  lighten($_color-base-grey, 15%),
        light3:  lighten($_color-base-grey, 35%),
        light4:  lighten($_color-base-grey, 50%),
        light5:  lighten($_color-base-grey, 60%),
        light6:  lighten($_color-base-grey, 63%),
        dark1:   darken($_color-base-grey, 10%),
        dark2:   darken($_color-base-grey, 15%)
    )
);



// Palette function,
@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}



// Basics
$color-black:           #000;
$color-white:           #fff;



// Accent colors
$color-accent:          palette(accent);
$color-accent-dark:     palette(accent, dark);



// Base colors
$base-text-color:       palette(grey, dark1);
$base-background:       palette(grey, light5);
$base-link-color:       $color-black;