/**
 * VARIABLES
 */



// Grid
$em-base: 16px !default;
@function emCalc($pxWidth) {
  @return $pxWidth / $em-base * 1em;
}

$gutter:        emCalc(20px);
$row-width:     emCalc(1280px);
$column-gutter: $gutter*1.8;



// Transition
$base-transition:       all 0.15s ease-in-out;



// Typography
$font-stack:            Helvetica, Arial, sans-serif;
$base-font:             $font-stack;
$base-title-font:       $font-stack;
$base-serif-font:       serif;
$base-font-size:        100%;
$base-line-height:      1.4;
$base-font-weight:      300;
$thin-font-weight:      200;


$font-size-m:         emCalc(16px);
$font-size-m-large:   emCalc(18px);
$font-size-l:  emCalc(18px);
$font-size-xl:  emCalc(24px);
$font-size-xxl:  emCalc(28px);
$font-size-xxxl:  emCalc(38px);
$font-size-xxxxl:  emCalc(44px);
$font-size-xxxxxl:  emCalc(54px);