/**
 * BASE
 */



/* =Basics
----------------------------------------------------- */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background-color: $base-background;
  color: $base-text-color;
  font-size: 100%;
  font-family: $base-font;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  &.disable-hover {
    pointer-events: none;
  }
}


::-moz-selection { background: $color-accent; color: $color-black; text-shadow: none; }
::selection { background: $color-accent; color: $color-black; text-shadow: none; }


p {
  margin-top: 0;
}

/* =Images
----------------------------------------------------- */
svg {
  @extend %transition;
}

figure {
  margin: 0;
}



/* =Typo
----------------------------------------------------- */
small {
  font-size: 80%;
}

strong {
  font-weight: 400;
}



/* =Links
----------------------------------------------------- */
a:not(img) {
  @extend %transition;
  color: $base-link-color;
  text-decoration: none;
}

a img,
a > svg {
  border: none;
}

/* =Images
----------------------------------------------------- */
.row img {
  max-width: 100%;
  width: 100%;
}


/* =Blockquote
----------------------------------------------------- */
blockquote {
  &::before {
    color: $color-black;
    content: "\201C";
    font-size: $font-size-m;
    font-weight: bold;
    font-style: normal;
    left: -$gutter/2;
    line-height: 1;
    position: absolute;
  }

  small {
    display: block;
    text-align: right;
    &:before {
      content: "\2013 ";
    }

    a {
      color: $color-black;
      &:hover,
      &:active {
        color: $color-accent;
      }
    }
  }
}



/* =Horizontal rule
----------------------------------------------------- */
hr {
  border: none;
  border-top: 1px dashed palette(grey, light4);
  margin: $gutter 0;
  margin-right: -$gutter;
  margin-left: -$gutter;

  //--- medium
  @include breakpoint(medium) {
    margin-bottom: $gutter*2;
  }

  //--- large
  @include breakpoint(large) {
    margin-bottom: $gutter*3;
  }
}

