/// Header styles

body > header {
  @include make-row();
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;

  .inner {
    @include make-col();
    @include make-col-span(12);
  }
}